.main {
    width: 90%;
    margin: 0 auto;
    padding: 5% 0 0 0;
    display: flex;
    justify-content: space-between;
    // background-color: #00000066;

    border-radius: 50px;

    /* Portrait tablets and small desktops */
    @media (max-width: 991px) {
        flex-direction: column;
        align-items: center;
    }
}