.button {
    height: 5rem;
    width: 5rem;

    font-weight: bold;
    border-radius: 10px;
    background: rgba(180, 184, 187, .7);
    cursor: pointer;
}

.button_refresh-bg {
    border-radius: 20%;
    // background: rgba(180, 184, 187, .7);
    // url('../img/update-button.svg') no-repeat bottom;
}

.button_select-language {
    width: 7.1rem;

    font-size: 2rem;
    font-weight: 700;

    border-radius: 10%;
}

.button_fahrenheit {
    font-size: 2rem;
    border-radius: 10px 0 0 10px;
    background-color: #5d6265b3;
}

.button_celsius {
    font-size: 2rem;
    border-radius: 0 10px 10px 0;
    background-color: #5d6265b3;
}

.form_button {
    font-size: 1.5rem;
    width: 7rem;
}

.button_active {
    background-color: rgba(180,184,187,.7);;
}

.units {
    display: flex;
}