.coordinates {
    font-size: 2rem;
    text-align: center;
}

.coordinates_latitude, .coordinates_longitude {
    font-weight: 500;
}

#map {
    width: 400px;
    height: 400px;
    @media (max-width: 479px) {
        width: 85vw;
        height: 85vw;
    }
}