.weather {
  width: 50%;
  font-size: 2.2rem;
  font-weight: 500;

  @media (max-width: 991px) {
    width: 90%;
  }
}

.weather__location {
  margin: 0;

  font-size: 4.4rem;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;   
}

.weather__date {
  margin: 0;
  font-size: 2.4rem;
}

.weather__location, .weather__date {
  @media (max-width: 767px) {
    text-align: center;
  } 
}

.weather__today {
  display: flex;
  justify-content: space-between;
  position: relative;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }  
}

.temperature-today {
  font-size: 13rem;
}

.weather__icon {
  height: 12vw;
  position: absolute;
  left: 30%;

  @media (max-width: 991px) {
    height: 20vw;
  }

  @media (max-width: 767px) {
    left: 67%;
    height: 30vw;
  } 

  @media (max-width: 479px) {
    left: 30%;
    height: 33vw;
  } 
}

.weather__description {
  padding: 0 0 0 70px;
}

.weather__forecast {
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  } 
}

.forecast {
  position: relative;
}

.forecast__day {
  text-transform: uppercase;
}

.forecast__temperature {
  font-size: 4rem;
}

.forecast__icon {
  height: 7vw;
  position: absolute;
  top: 30px;
  left: 55%;

  @media (max-width: 767px) {
    height: 12vw;
    top: 25%;
  }
} 
  
