@import "abstracts/variables";

@import "components/buttons";
@import "components/weather";
@import "components/map";

@import "layout/header";
@import 'layout/forms';
@import 'layout/main';

html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}