@import "abstracts/variables";

@import "components/buttons";
@import "components/weather";
@import "components/map";

@import "layout/header";
@import 'layout/forms';
@import 'layout/main';

html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;

  @media (min-width: 480px) and (max-width: 767px) {
    font-size: 13px;
  } 
}

body {  
  height: 100vh;
  background-repeat: no-repeat;
}

*{
  color: white;
  outline: none;
}